DATABASE_URL="file:../data/globalnorte.db"
JWT_SECRET="cambia-este-secret-minimo-32-caracteres"
NEXT_PUBLIC_APP_URL="https://globalnorte.pe"
NEXT_PUBLIC_APP_NAME="Distribuidora Global Norte"
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=""
HCAPTCHA_SECRET_KEY=""
RESEND_API_KEY=""
EMAIL_FROM="pedidos@globalnorte.pe"
EMAIL_ADMIN="admin@globalnorte.pe"
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_WHATSAPP_NUMBER=""
ADMIN_WHATSAPP="51918171484"
ADMIN_SEED_PASSWORD="cambia-esta-contrasena-segura"
UPLOAD_DIR="./public/uploads"
PDF_DIR="./public/pdfs"
MAX_FILE_SIZE="10485760"
